.app-container{
    display: flex;
    align-items: flex-start;
    background-color: #151a2c;
    width: 100vw;
    height: 100%;   
}

.navbar{
    height: 100vh;
}

.homepage{
}

.header-container{
    background: radial-gradient(circle,rgba(28, 32, 54, 1) 100%, rgba(54, 65, 114, 1) 100%);
    height: 8vh;
    display: flex;
    place-items: center;
    border-color: #272e4b;
    width:100%;

}

.header-title{
    display: flex;
    gap: 16px;
    color: white;
    font-size: medium;
    margin-left: 2vw;
}

.page-container{
    margin-left:7vh;
    width: 100vw;
}

.auto-progress-header{
    color:white;
    font-size: x-small;
}

.progress-bar{
    width: 20vw;
}

.progress-bar-container{
    display: flex;
    place-items: center;
    gap: 0.5vw;
    font-size: x-small;
    color: white;
}

.automation-container{
    position: absolute;
    right: 0;
    margin-right: 2vw;
}

.chat-icon{
    display: absolute;
    margin-right: 3vw;
    margin-bottom: 10vh;
    position: absolute;
    bottom: 0;
    right: 0;
}